:root {
  --darkBackground: #1f2937;
  --logoText: #f9faf8;
  --secondaryText: #f9faf8;
  --blueColor: #3882f6;
  --colorGrey: #e5e7eb;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
}

.navbar {
  padding: 2rem;
  display: flex;
  align-items: center;
  background-color: var(--darkBackground);
}

.nav-container {
  position: absolute;
  right: 3rem;
}

.nav-container,
li {
  display: inline-block;
  padding: 0.75rem;
  color: var(--secondaryText);
}

.logo {
  left: 3rem;
  font-weight: bolder;
  color: var(--logoText);
  padding-left: 10rem;
}

.hero-container {
  width: 100%;
  margin: auto;
  display: inline-flex;
  gap: 3rem;
  align-items: center;
  text-align: left;
  padding-left: 7rem;
  padding-right: 7rem;
}

.hero-image {
  width: 50%;
  max-height: 300px;
}

.hero {
  padding: 5rem;
  background-color: var(--darkBackground);
}

.text-container {
  width: 50rem;
  color: var(--secondaryText);
}

.hero-heading {
  margin-left: -5px;
  padding-bottom: 1rem;
}

.random-heading {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;
  margin: auto;
}
.random-container {
  display: flex;
  margin: auto;
  padding-left: 7rem;
  padding-right: 7rem;
  gap: 2rem;
  max-width: 60%;
  align-items: center;
  justify-content: center;
  padding-bottom: 2rem;
}
.bluebox {
  border: 4px solid var(--blueColor);
  height: 160px;
  width: 160px;
  border-radius: 10%;
}

.random-container p {
  padding-top: 1rem;
  text-align: center;
}
.quotes {
  padding: 5rem 15rem;
  background-color: var(--colorGrey);
}

h4 {
  padding-top: 0.5rem;

  text-align: right;
}
.sign-up {
  padding: 3rem 7rem;
  margin: auto;
  text-align: center;
}
.signup-container {
  background-color: var(--blueColor);

  padding: 3rem;
  color: var(--secondaryText);
  display: inline-flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

h3 {
  text-align: left;
  padding-bottom: 0.5rem;
}

button {
  margin-left: 1.5rem;
  background-color: var(--blueColor);
  border: 2px solid var(--secondaryText);
  color: var(--secondaryText);
  padding: 0.5rem;
  width: 6rem;
  border-radius: 10px;
}

.singup-text {
  text-align: left;
}

footer {
  background-color: var(--darkBackground);
  color: var(--logoText);
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}
